.tabs { top:0 !important; }  


 a { text-decoration: none; }

.action-sheet-group .button  {
    font-size:17px;
}

.action-sheet .button { color: #555555; }

.action-sheet .button:hover { color: #555555; }


.has-small-tabs-top {
    top:44px;
}

.has-nothing-top {
    top:0px;
}

.avatar-frame{
  overflow: hidden;
    position: relative;
}

.avatar-frame img{
    width:100px;
    height:100px;
    -webkit-border-radius: 50%; /* Saf3+, Chrome */
    /* Opera 10.5, IE 9 */
    border-radius: 50%;  
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
	
}

.avatar-frame-small {
  overflow: hidden;
  position: relative;
}

.avatar-frame-small img {
    width:40px;
    height:40px;
    -webkit-border-radius: 50%; /* Saf3+, Chrome */
    /* Opera 10.5, IE 9 */
    border-radius: 50%;  
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}

.force-no-padding {
    padding:0px !important;
}

.force-no-padding-left15 {
	padding-top:0px !important;
	padding-left:15px !important;
	padding-bottom:0px !important;
	padding-right:0px !important;
}

.force-no-padding-top5 {
	padding-top:5px !important;
	padding-left:0px !important;
	padding-bottom:0px !important;
	padding-right:0px !important;	
}

.col-fixed-40 {
	width:40px !important;	
}



.bar-footer .tabs {
	background: none !important;
	border: none !important;
}

	
.tabs-top.tabs-striped .tab-item.activated, .tabs-top.tabs-striped .tab-item.active, .tabs-top.tabs-striped .tab-item.tab-item-active {
	/*border-color: #005494;*/
	border: none !important;
	background: url(../img/arrow-up.png) no-repeat bottom center;
}

.scroll {
	height:60%;
}



.card .item:last-child, .card .item:last-child .item-content, .list-inset .item:last-child, .list-inset .item:last-child .item-content, .padding > .list .item:last-child, .padding > .list .item:last-child .item-content {
	border-radius: 0;
}

.card {
	padding: 0 !important;
	box-shadow: none !important;
	margin:0 !important;
	border-radius: 0 !important;
}

.item {
	background: none !important;
	/*border: none;*/
}


.list .tabs .ng-binding {
	font-size: 13px !important;
}

.tabs {
	border: none;
}

.button-outline.button-outline {
	border: none !important;
}

.force-no-padding h2 {
	font-weight: bold;
}

.force-no-padding-ppl h2 {
	font-weight: bold;
}


.card .item-body .tab-item {
	font-size: 14px !important;
}

/*.pane .tabs-top {
	background: url(../img/up-bg.gif);
}*/

.force-no-padding-left15 .button {
	font-size: 14px !important;
	line-height: 32px !important;
	min-height: 32px !important;
	border: none !important;
}

.force-no-padding-left15 .button .icon::before, .button.icon-left::before, .button.icon-right::before, .button.icon::before {
	line-height: 32px !important;
	font-size: 14px !important;
}

.bar-header .button-clear {
	font-size: 24px !important;
}


.tab-item {
	font-size: 18px !important;
}


.ng-enter .bar {
	background: none !important;
}


.ng-enter input[type=text], .ng-enter textarea {
	background: #fff;
	color: #444;
	padding: 0 5px;
}

.ng-enter textarea {
	color: #444;
	padding: 5px;
}

.ng-enter .item-input {
	padding: 5px 15px !important;
}

.bar-footer .tab-item .icon {
	display: inline-block;
	font-size: 18px;
}

.bar-footer .tab-item {
	font-size: 16px !important;
}

.tab-nav .tab-item .icon {
	font-size: 19px !important;
	display: inline-block;
	margin-right: 5px;
}

.tabs-top .tab-title {
	font-size: 20px;
	letter-spacing:3px;
}

.tab-item .icon-s {
  display: inline-block;
  margin: 0 auto;
  font-size: 16px;
}

.frame-person {
	float: left;
}


.bar-header .title {
	font-size: 20px;
	letter-spacing:3px;
	border-bottom: 1px rgba(255,255,255,0.4) solid;
}

.bar-header .title .icon{
	font-size: 32px;
}

.number-line {
	padding-left:0px;
	padding-top:20px;
	border: none !important;
	
	z-index: 999;
}

.number-line .list {
	padding-left: 60px;
}


.modal-wrapper .item {
	border: none !important;
}

.upload-text {
	font-size: 16px;
}

.dream-select {
	border: 1px solid #444444;
	color: #444444;
}

.dream-select > a:after {
	border-color: #ff0000; 
}



.newupload input {
	background: #fff;
    padding: 0 5px;
}

.newupload textarea {
    color: #444;
    padding: 5px;
}

.newupload .padding {
	padding:0;
}

.newupload .item {
	border: none;
	padding-right: 16px;
}

.bar .list .row .col, .bar .list .row .col60, .bar .list .comments {
}

.ng-pristine {
	color:#444 !important;
}

.scroll .item button {
	border-radius: 0 !important;
	border: 1px solid #444444;
}

.list .item textarea {
}

.scroll .item .button-small {
	padding: 2px 6px 1px !important;
}

.toptabs a{
	color: #444;
}

.toptabs .tabitem {
	float: left;
	display: inline-block;
	width: 50%;
	word-spacing: 5px;
	font-size: 20px;
	text-align: center;
}


.toptabs .icon { 
	display: inline-block;
	font-size: 20px;
}

#tipcover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 20000;
}

#tipcover img {
    position: fixed;
    right: 18px;
    top: 5px;
    width: 260px;
    height: 380px;
    z-index: 999;
}

.slider-pager {
	display:none;
}